<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>img element</title>
</head>
<body>
    <header>i am header</header>
    <main>
        <img 
            src="./resources/image1.jpeg" 
            alt="i am image1"
            srcset="./resources/image1.jpeg 1x,
                    ./resources/image2.jpg 2x"
            >
    </main>
    <footer>i am footer</footer>
</body>
</html>