<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>em vs i vs strong</title>
</head>
<body>
    <header>
        <h1>the difference of em , i and strong</h1>
    </header>
    <main>
        <p>
            <em>i am em</em>
        </p>
        <p>
            <i>i am i</i>
        </p>
        <p>
            <strong>i am strong</strong>
        </p>
        <p>
            <b>i am bold</b>
        </p>
        <p>
            <em>i am em</em>
        </p>
        <p>
            <small>i am small</small>
        </p>
        <p>
            <s>i am s</s>
        </p>
        <p>
            <del>i am del</del>
        </p>
        <p>
            <p> i am var: <var>x</var> = <var>y</var> + 2 </p>
        </p>
        <p> i am kdb: <kbd>cmd</kbd><br /></p>
        <p>
            i am sub example  H<sub>2</sub>O
        </p>
        <P>
            i am sup example X<sup>2</sup>
        </P>
        <p>
            <mark>i am mark</mark>
        </p>
        <p>
            <bdi>i am bdi</bdi>
        </p>
        <p>
            <bdo dir="ltr">i am bdo dir ltr</bdo>
        </p>
        <p>
            <bdo dir="rtl">i am bdo dir rtl</bdo>
        </p>
        <p></p>
    </main>

</body>
</html>