<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>em vs i vs strong</title>
</head>
<body>
    <header>
        <h1>the difference of em , i and strong</h1>
    </header>
    <main>
        <p>
            <em>i am em</em>
        </p>
        <p>
            <i>i am i</i>
        </p>
        <p>
            <strong>i am strong</strong>
        </p>
        <p>
            <small>i am small</small>
        </p>
        <p>
            <s>i am s</s>
        </p>
        <p>
            <del>i am del</del>
        </p>
        <p>
            <p> A simple equation: <var>x</var> = <var>y</var> + 2 </p>
        </p>
    </main>

</body>
</html>